## DEBUG
DEBUG_DEBUG=True
DEBUG_TEST_EMAIL='["test@test.ru"]'

JWT_SECRET_KEY='yKSPW5h9WWqIKICI3R2O22EmCuNwSW5GdxHhkaSX2Yg9WbzAh0IswxbR1PyXK7uh'
JWT_ALGORITHM='HS256'

LOGGING_SENTRY_DSN='https://d37146730a1440c19e0a33994beb3e8d@o4505205069250560.ingest.sentry.io/4505205073444864'
LOGGING_LOGSTASH_HOST='logstash'
LOGGING_LOGSTASH_PORT=5044

DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=notifications
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/notifications

RABBIT_EXCHANGE=email
RABBIT_EXCHANGE_TYPE=direct
RABBIT_USERNAME=rabbit
RABBIT_PASSWORD=rabbit
RABBIT_HOST=rabbitmq
RABBIT_EVENTS_QUEUE_NAME=email
RABBIT_EVENTS_EXCHANGE_NAME=email
RABBITMQ_DEFAULT_USER=rabbit
RABBITMQ_DEFAULT_PASS=rabbit

AUTH_API_HOST='auth_api'
AUTH_API_PORT=8081
AUTH_API_PREFIX='/auth/v1/'

UGC_API_HOST='ugc_api'
UGC_API_PORT=8082
UGC_API_PREFIX='/ugc/v1/'

MOVIE_API_HOST='movie_api'
MOVIE_API_PORT=8083
MOVIE_API_PREFIX='/movie_api/v1/'

FASTAPI_HOST='booking_api'
FASTAPI_PORT=8084
FASTAPI_API_PREFIX='/app/v1'
